extends layout 

block content 
  .about-us
    h1.h1-about Our Story - Group 3
    .frame-parent
      .frame-group
        .lorem-ipsum-is-simply-dummy-te-wrapper
          p.lorem-ipsum-is-simply-container
            span.lorem-ipsum-is-simply
            | Lorem Ipsum is simply dummy text of the printing and
            | typesetting industry. Lorem Ipsum has been the industry&apos;s
            | standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type
            | specimen book.
            span.blank-line8 &nbsp;
            span.it-has-survived
            | It has survived not only five centuries, but also the leap into
            | electronic typesetting, remaining essentially unchanged.
      img.img-story-icon(alt='' src='./public/imgstory@2x.png')
    .group-member-wrapper
      .group-member
        .member
          button.img-mem
          .info-mem
            .name-p-mem
              .dang-minh-triet Dang Minh Triet
              .managing-director Managing Director
        .member1
          button.img-mem1
          .info-mem1
            .name-p-mem1
              .do-phuong-linh Do Phuong Linh
              .front-end Front-end
        .member2
          button.img-mem2
          .info-mem2
            .name-p-mem2
              .le-duc-trung Le Duc Trung
              .back-end Back-end
        .member3
          button.img-mem3
          .info-mem3
            .name-p-mem3
              .pham-trong-nghia Pham Trong Nghia
              .front-end1 Front-end
