extends layout 

block content 
  .about-us
    h1.h1-about Our Story - Group 3
    .frame-parent
      .frame-group
        .lorem-ipsum-is-simply-dummy-te-wrapper
          p.lorem-ipsum-is-simply-container
            span.lorem-ipsum-is-simply
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laudantium. Aliquid voluptate voluptates quia repellendus?
            span.blank-line8 &nbsp;
            span.it-has-survived
            | It has survived not only five centuries, but also the leap into
            | electronic typesetting, remaining essentially unchanged.
      img.img-story-icon(alt='' src='./public/imgstory@2x.png')
    .group-member-wrapper
      .group-member
        .member
          button.img-mem
          .info-mem
            .name-p-mem
              span.sinfo-mem(style= 'font-weight: 600;') Dang Minh Triet
              span(style= 'color: #DB4444; font-size: 22px;') Managing Director
        .member
          button.img-mem1
          .info-mem
            .name-p-mem
              span(style= 'font-weight: 600;') Do Phuong Linh
              span(style= 'color: #DB4444; font-size: 22px;') Front-end
        .member
          button.img-mem2
          .info-mem
            .name-p-mem
              span(style= 'font-weight: 600;') Le Duc Trung
              span(style= 'color: #DB4444; font-size: 22px;') Back-end
        .member
          button.img-mem3
          .info-mem
            .name-p-mem
              span(style= 'font-weight: 600;') Pham Trong Nghia
              span(style= 'color: #DB4444; font-size: 22px;') Front-end
