extends layout 

block content 
  h1 #{title}


  if operation == "sign in"
    form(action='/signin' method='POST')
      label(for='mail') Email
      input(name='mail')
      label(for='password') Password 
      input(name='password') 
      button(type='submit') Sign in 
    a(href='/reset-password') Forgot password?
    if error 
      p #{error}

  else if operation == "sign up"
    form(method='POST' action='/signup' enctype="multipart/form-data")
      label(for='mail') Email address
      input(name="mail")
      label(for='phone') Phone number
      input(name='phone')
      label(for='password') Password
      input(name='password')
      label(for='profile_image') Profile image 
      input(type='file' accept='image/*' name='profile_image')
      label(for='first_name') First name
      input(name='first_name')
      label(for='last_name') Last name
      input(name='last_name')
      label(for='address') Address
      input(name='address')
      label(for='city') City
      label(for="city") 
        input(name="city")
      label(for='zip') Zipcode
        input(name='zip')
      label(for='country') Country 
        select(name="country")
          each country in countries 
            option(value=country.Name) #{country.Name}
      p Account type 
      label(for="account_type") Store owner  
      input(id="store_owner" type="radio" name="account_type" value="store owner" checked)
      label(for="account_type") Shopper 
      input(id="shopper" type="radio" name="account_type" value="shopper")
      
      button(type='submit') Register
