extends layout 

block content 
  h1 #{title} 
  form(method="POST" action="/stores/"+ store_id +"/products/create" enctype="multipart/form-data") 
    label(for="product_name") Product name
    input(name="product_name")
    label(for="product_price") Product price
    input(name="product_price")
    label(for="product_quantity") Product quantity
    input(name="product_quantity")
    label(for="product_description") Product description
    textarea(name="product_description" style="width:500px;height:500px")
    label(for="product_image") Product image
    input(name="product_image" type="file")
    button(type="submit") Add product 
