extends layout 

block content 
  h1 =title
  
  button Browse by name 
  button Browse by category

  each store in stores 
    ul 
      li 
        img(src=store.logo)
        a(href=store.url) #{store.name}
        p= store.category 