extends layout

block content
  h2.text-center.mt-3 Mall Fees 
  p.text-center.mb-3 Here are the fees for using our mall services.
  .fees-container
    .d-flex.align-items-center.mb-3
      .cornered-rectangle
      h2.text-danger.mb-0 for Shoppers
    
    table.fees-table
      thead
        tr
          th.fee-type Fee Type
          th Description
          th.fee-amount Amount          
      tbody
        tr
          td Premium Membership
          td Annual fee for accessing exclusive discounts and promotions.
          td $20/year
        tr
          td Transaction Fee
          td Fixed fee for each purchase made through the mall's payment system.
          td $2 per Transaction

    .fees-card.shadow-box
      .fee-details
        h4 Premium Membership 
        p Annual fee for accessing exclusive discounts and promotions.
      .fee-amount 
        h4 $20/year
    .fees-card.shadow-box
      .fee-details
        h4 Transaction Fee
        p Fixed fee for each purchase made through the mall's payment system.
      .fee-amount 
        h4 $2 per Transaction

    .d-flex.align-items-center.mb-3
      .cornered-rectangle
      h2.text-danger.mb-0 for Store Owners
    
    table.fees-table
      thead
        tr
          th.fee-type Fee Type
          th Description
          th.fee-amount Amount
      tbody
        tr
          td Monthly Renting Fee
          td Monthly rent for using a store space in the mall.
          td $50/month
        tr
          td Commission Fee
          td Percentage charged on each product sale made in the mall.
          td 5% of Sales

    .fees-card.shadow-box
      .fee-details
        h4 Monthly Renting Fee
        p Monthly rent for using a store space in the mall.
      .fee-amount 
        h4 $50/month
    .fees-card.shadow-box
      .fee-details
        h4 Commission Fee
        p Percentage charged on each product sale made in the mall.
      .fee-amount 
        h4 5% of Sales
    hr
  .container.my-5
    .row.text-center
      .col-md-4
        .outer-circle
          .inner-circle
            i.fa.fa-truck.fa-2x.text-white
        h5.index-service FREE AND FAST DELIVERY
        p.index-service-p Free delivery for all orders over $140
      .col-md-4
        .outer-circle
          .inner-circle
            i.fa.fa-headphones.fa-2x.text-white
        h5.index-service 24/7 CUSTOMER SERVICE
        p.index-service-p Friendly 24/7 customer support
      .col-md-4
        .outer-circle
          .inner-circle
            i.fa.fa-shield.fa-2x.text-white
        h5.index-service MONEY BACK GUARANTEE
        p.index-service-p We return money within 30 days
