doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul 
          li 
            a(href='/home') Home
          li 
            a(href='/about') About 
          li 
            a(href='/fees') Fees
          li 
            a(href='/browse') Browse
          li 
            a(href='/faq') FAQs
          li 
            a(href='/contact') Contact 
          li 
            a(href='/account') Account
    main    
      block content
    footer
      nav
        ul 
          li 
            a(href='/home') Home
          li 
            a(href='/about') About 
          li 
            a(href='/fees') Fees
          li 
            a(href='/browse') Browse
          li 
            a(href='/faq') FAQs
          li 
            a(href='/contact') Contact 
          li 
            a(href='/account') Account
          li 
            a(href='/copyright') Copyright
          li 
            a(href='/terms') Terms of Service 
          li 
            a(href='/privacy') Privacy Policy

