doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if change 
      form(method="POST" action= path)
        label(for="new_password") New password
        input(name="new_password")
        button(type="submit") Reset password 
    else if bridge 
        h2 Reset request sent to #{mail}
        a(href=reset_url) Click here to change your password
    else 
      form(method="POST" action="/reset-password") 
        label(for="mail") Email 
        input(name="mail")
        button(type="submit") Send password reset link
    
    
