extends layout 

block content
  .sign-container
    .password-card.shadow-box
      h2.mb-2.mt-2 Forgot Your Password?
      p.mb-5 Enter your email address below so we can send you a code to reset your password.
      if change 
        form(method="POST" action= path)
          .form-group
            label.form-label(for="new_password") New password
            input.form-input(name="new_password" placeholder="Enter your new password" type="password")
            div.d-flex.justify-content-center
              button(type="submit") Reset password 
      else if bridge 
          h2 Reset request sent to #{mail}
          a(href=reset_url) Click here to change your password
      else 
        form(method="POST" action="/reset-password") 
          .form-group
            label.form-label(for="mail") Email 
            input.form-input(name="mail" type="email" placeholder="Enter your email" required)
          div.d-flex.justify-content-center
            button(type="submit") Send code
    
    
