doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if reset.url && reset.proceedable
      form(method="POST" action="/reset-password")
      label(for="new_password") New password
      input(name="new_password")
      label(for="retyped_new_password") Confirm new password
      input(name="retyped_new_password")
      button(type="submit") Reset password 
    else if reset.url 
      h2 Reset request sent
      a(href=reset.url)
    else 
      form(method="POST" action="/reset-password") 
      label(for="email") Email 
      input(name="email")
      button(type="submit") Forgot password
    
    
