extends layout 

block content
  .sign-container
    .password-card.shadow-box
      if change 
        h2.mb-2.mt-2 Reset Your Password.
        p.mb-5 Please enter your new password below.
        form(method="POST" action= path)
          .form-group
            label.form-label(for="new_password") 
              i.fa-solid.fa-lock
            input.form-input(name="new_password" placeholder="Enter your new password" type="password" required)
          div.d-flex.justify-content-center
              button(type="submit") Reset password 
      else if bridge
        i.fa-solid.fa-circle-check.fa-5x.my-3.text-success
        h2 Reset request sent to #{mail}
        a(href=reset_url) Click here to change your password
      else 
        h2.mb-2.mt-2 Forgot Your Password?
        p.mb-5 Enter your email address below so we can send you a code to reset your password.
        form(method="POST" action="/reset-password") 
          .form-group
            label.form-label(for="mail") 
              i.fa-solid.fa-envelope 
            input.form-input(name="mail" type="email" placeholder="Enter your email" required)
          div.d-flex.justify-content-center
            button(type="submit") Send request
    
    
