extends layout 

block content 
  h1 #{user.name}
  img(src=user.profile_image)
  a(href="/users/" + user._id + "/update") Update information 
  a(href="/users/" + user._id + "/password") Change current password